/* styles/globals.css */
html {
  font-size: 16px;  /* 1rem = 16px */
  height: 100%;
}
  
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin-top: 80px;
  margin-left: 192px;
  height: 100%;
  /* margin-left: 12rem; */
  /* background-color: gray; */
}
  
@media (max-width: 600px) {
  html {
    font-size: 8px;  /* On small screens, 1rem = 8px */
  }
  body {
    margin-left: 0;
  }
}

:root {
  --primary-background-color: #fff;
  --secound-background-color: #f5f5f5;
  --primary-text-color: rgb(0, 0, 0, 0.87);
  --primary-border-color: rgb(0, 0, 0, 0.12);

}