
.sidebar { 
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
    width: 192px;
    position: absolute;
    top: 5rem;
    left: 0;
    height: 100%;
    overflow-y: auto;
    z-index: 1;
    transition: 0.5s;
    border-width: 0;
    border-right-width: 1px;
    box-shadow: none;
    border-color: var(--primary-border-color);
    border-style: solid;
}
.sidebar-link {
    color: white;
    text-decoration: none;
    padding: 0.1rem;
    display: block;
  }
   
  .sidebar-link:hover {
    background-color: #555;
  }
   
  .active {
    background-color: #007bff;
  }

  @media (max-width: 600px) {
    .sidebar {
      width: 0rem;
    }
  }